<%= render "shared/header" %>

  <div class='item-contents'>

    <h2 class='title'>検索結果一覧</h2>
    <%= link_to '検索キーワードに一致する商品', "#", class: "subtitle" %>

    <ul class='item-lists'>

      <% @items.each do |item| %>

      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.images[0], class: "item-img" %>
          <% if item.order != nil %>
            <div class='sold-out'>
              <span>Sold Out!!</span> 
            </div> 
          <% end %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.title %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>

      <% end %>

    </ul>

  </div>

<%= render "shared/footer" %>